run_dir = "results/"

# Compute mode
mode = "local"
ncores = 16

# Self contained rundir (to avoid problems with long filename paths)
self_contained = true

# Post-processing to generate statistics and plots
postprocess = true
clean = true

molecules = [
    "pmhc.pdb", "tcr.pdb"
]

[topoaa]

[rigidbody]
ambig_fname = "int_restraints.tbl"
unambig_fname = "chain_restraints.tbl"
sampling = 100
mol_fix_origin_1 = false
mol_fix_origin_2 = false
randremoval = false

# [flexref]
# ambig_fname = "int_restraints.tbl"
# unambig_fname = "chain_restraints.tbl"
# debug = true
